<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Purchases</title>
    <style>
        
    </style>
</head>
<body>
    <h1>Your Purchases</h1>
    <ul>
        <% purchases.forEach(purchase => { %>
            <li>
                <h3>Purchase Date: <%= purchase.purchaseDate.toDateString() %></h3>
                <ul>
                    <% purchase.items.forEach(item => { %>
                        <li>
                            <p><%= item.name %> - Quantity: <%= item.quantity %></p>
                        </li>
                    <% }); %>
                </ul>
                <p>Price: ₹<%= purchase.totalAmount %></p>
                <p>Status: <%= purchase.status %></p>
            </li>
        <% }); %>
    </ul>
    <a href="/customer">Back to Dashboard</a>
</body>
</html>
